<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1 class="center">render()函数的使用</h1>

    <div class="row">
        <table class="table">
            <tr>
                <th>id</th>
                <th>name</th>
                <th>年龄</th>
            </tr>
            {% for v in list %}
            <tr>
                <td>{{v.id}}</td>
                <td>{{v.name}}</td>
                <td>{{v.age}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>